<p id="notice"><%= notice %></p>

<h1>Listing Inscrito Contactados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre inscrito</th>
      <th>Cedula inscrito</th>
      <th>Celular inscrito</th>
      <th>Codigo mesa</th>
      <th>Edad inscrito</th>
      <th>Sexo inscrito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inscrito_contactados.each do |inscrito_contactado| %>
      <tr>
        <td><%= inscrito_contactado.nombre_inscrito %></td>
        <td><%= inscrito_contactado.cedula_inscrito %></td>
        <td><%= inscrito_contactado.celular_inscrito %></td>
        <td><%= inscrito_contactado.codigo_mesa %></td>
        <td><%= inscrito_contactado.edad_inscrito %></td>
        <td><%= inscrito_contactado.sexo_inscrito %></td>
        <td><%= link_to 'Show', inscrito_contactado %></td>
        <td><%= link_to 'Edit', edit_inscrito_contactado_path(inscrito_contactado) %></td>
        <td><%= link_to 'Destroy', inscrito_contactado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inscrito contactado', new_inscrito_contactado_path %>
