<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo mesa:</strong>
  <%= @mesa.codigo_mesa %>
</p>

<p>
  <strong>Nombre encargado mesa:</strong>
  <%= @mesa.nombre_encargado_mesa %>
</p>

<p>
  <strong>Cedula encargado mesa:</strong>
  <%= @mesa.cedula_encargado_mesa %>
</p>

<p>
  <strong>Celular encargado mesa:</strong>
  <%= @mesa.celular_encargado_mesa %>
</p>

<p>
  <strong>Email encargado mesa:</strong>
  <%= @mesa.email_encargado_mesa %>
</p>

<p>
  <strong>Nombre delegado:</strong>
  <%= @mesa.nombre_delegado %>
</p>

<p>
  <strong>Cedula delegado:</strong>
  <%= @mesa.cedula_delegado %>
</p>

<p>
  <strong>Celular delegado:</strong>
  <%= @mesa.celular_delegado %>
</p>

<p>
  <strong>String:</strong>
  <%= @mesa.String %>
</p>

<p>
  <strong>Email delegado:</strong>
  <%= @mesa.email_delegado %>
</p>

<p>
  <strong>Nombre suplente:</strong>
  <%= @mesa.nombre_suplente %>
</p>

<p>
  <strong>Cedula suplente:</strong>
  <%= @mesa.cedula_suplente %>
</p>

<p>
  <strong>Celular suplente:</strong>
  <%= @mesa.celular_suplente %>
</p>

<p>
  <strong>Email suplente:</strong>
  <%= @mesa.email_suplente %>
</p>

<p>
  <strong>Total :</strong>
  <%= @mesa.total_ %>
</p>

<p>
  <strong>Inscritos anterio:</strong>
  <%= @mesa.inscritos_anterio %>
</p>

<p>
  <strong>Total pld anterior:</strong>
  <%= @mesa.total_pld_anterior %>
</p>

<p>
  <strong>Total prd anterior:</strong>
  <%= @mesa.total_prd_anterior %>
</p>

<p>
  <strong>Total votos validos anterior:</strong>
  <%= @mesa.total_votos_validos_anterior %>
</p>

<p>
  <strong>Total votos nulos anterior:</strong>
  <%= @mesa.total_votos_nulos_anterior %>
</p>

<p>
  <strong>Total votos observados anterior:</strong>
  <%= @mesa.total_votos_observados_anterior %>
</p>

<p>
  <strong>Total votos emitidos anterior:</strong>
  <%= @mesa.total_votos_emitidos_anterior %>
</p>

<p>
  <strong>Total inscritos:</strong>
  <%= @mesa.total_inscritos %>
</p>

<%= link_to 'Edit', edit_mesa_path(@mesa) %> |
<%= link_to 'Back', mesas_path %>
